* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main {
    width: 100%;
    background-color: #000;
    height: calc(100vh);
    background-image: url("HanCapa.jpg");
    background-size: auto;
    background-position: top center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 10px;
    margin-left: 0;
}

.main div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main div h1 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    font-size: 54px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
}

.main div p {
    width: 50%;
    font-size: clamp(16px, 2vw, 24px);
    font-style: italic;
    color: rgba(214, 220, 215, 0.82);
    mix-blend-mode: difference;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-right: 10px;
    text-align: justify;
    align-items: center;
}

.atributos {
    width: 100%;
    background-color: #000;
    height: calc(100vh);
    background-image: url("Han.jpg");
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 20px;
    margin-left: 0;
    position: relative;
}
.atributos div {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.atributos h1 {
    margin-top: 80px;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    font-size: 54px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.attribute {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.attribute label {
    font-size: clamp(16px, 2vw, 24px);
    font-style: italic;
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .attribute label {
        color: rgb(24, 23, 23);
    }
}
.call-to-action{
    padding: 14px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
    position: relative; 
    bottom: 0px; 
    right: 0px;
}
.call-to-action:hover{
    transform: scale(1.1);
}
